<!-- Navigation Template -->
<nav class="navbar">
    <div class="nav-content">
        <div class="logo">
            <a href="../index.html">
                <img src="../img/logo_black.svg" alt="Agent2Bench Logo" class="logo-img">
                <span class="logo-text">Agent2Bench</span>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="results.html">Results</a></li>
            <li><a href="tasks.html">Tasks</a></li>
            <li><a href="submit.html">Submit Task</a></li>
        </ul>
    </div>
</nav> 